/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
#board{
  margin: 160px auto 0 auto;
  background: url(../images/bg_texture___wood_by_nortago.jpg);
  width: 728px;
  padding: 30px 0;
  /*margin-top: 160px;*/
  border-radius: 82px;
  text-align: center;
}
#pit-container {
  width: 516px;
  height: 160px;
  display: inline-block;
}
.text {
  color: #FFF;
  font-family: 'Judson', serif;
  font-size: 35px;
  text-shadow: 5px 5px 2px black;
}
.highlight {
  color: #FF5;
}
.recessed {
  border: 3px solid #000;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}
.pit {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  vertical-align: top;
  padding-top: 14px;
  margin: 1px 3px;
}
.mancala {
  display: inline-block;
  width: 80px;
  height: 162px;
  border-radius: 40px;
  vertical-align: top;
  padding-top: 55px;
}